################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/GO.API/FileContentIndex/21b887af-a1db-48aa-86cd-4769e324c57d.vsidx
/API/.vs/GO.API/FileContentIndex/27765869-a7b3-43a6-ac8c-ace57d439ea1.vsidx
/API/.vs/GO.API/FileContentIndex/53e00a39-7320-402b-ac66-973194257dca.vsidx
/API/.vs/GO.API/FileContentIndex/556ce9c7-6951-44fb-92b5-603b5e3ebf27.vsidx
/API/.vs/GO.API/FileContentIndex/59dbda4f-ca45-48dd-b0b9-093a9cb6d358.vsidx
/API/.vs/GO.API/FileContentIndex/640ca8c4-64c8-4250-9ac7-f9de9ed1e8b7.vsidx
/API/.vs/GO.API/FileContentIndex/6df24067-b183-41a4-9494-3cbc783cceb9.vsidx
/API/.vs/GO.API/FileContentIndex/bfdc284b-736d-48f5-bc91-bb0b26b57735.vsidx
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.AssemblyInfoInputs.cache
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.csproj.AssemblyReference.cache
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.csproj.FileListAbsolute.txt
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.dll
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.pdb
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.sourcelink.json
/API/Com.Gosol.BUS/obj/Debug/net8.0/ref/Com.Gosol.BUS.dll
/API/Com.Gosol.BUS/obj/Debug/net8.0/refint/Com.Gosol.BUS.dll
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.DAL.dll
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.DAL.pdb
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Security.dll
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Security.pdb
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Ultilities.dll
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Ultilities.pdb
/API/Com.Gosol.DAL/obj/Debug/net8.0/ref/Com.Gosol.DAL.dll
/API/Com.Gosol.DAL/obj/Debug/net8.0/refint/Com.Gosol.DAL.dll
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.AssemblyInfoInputs.cache
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.csproj.AssemblyReference.cache
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.csproj.CoreCompileInputs.cache
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.csproj.FileListAbsolute.txt
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.dll
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.pdb
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.sourcelink.json
/API/Com.Gosol.Models/bin/Debug/net8.0/Com.Gosol.Models.dll
/API/Com.Gosol.Models/bin/Debug/net8.0/Com.Gosol.Models.pdb
/API/Com.Gosol.Models/bin/Debug/net8.0/Com.Gosol.Ultilities.dll
/API/Com.Gosol.Models/bin/Debug/net8.0/Com.Gosol.Ultilities.pdb
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.AssemblyInfoInputs.cache
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.csproj.AssemblyReference.cache
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.csproj.CoreCompileInputs.cache
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.csproj.FileListAbsolute.txt
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.dll
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.pdb
/API/Com.Gosol.Models/obj/Debug/net8.0/ref/Com.Gosol.Models.dll
/API/Com.Gosol.Models/obj/Debug/net8.0/refint/Com.Gosol.Models.dll
/API/Com.Gosol.Security/bin/Debug/net8.0/Com.Gosol.Security.dll
/API/Com.Gosol.Security/bin/Debug/net8.0/Com.Gosol.Security.pdb
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.AssemblyInfoInputs.cache
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.csproj.FileListAbsolute.txt
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.dll
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.pdb
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.sourcelink.json
/API/Com.Gosol.Security/obj/Debug/net8.0/ref/Com.Gosol.Security.dll
/API/Com.Gosol.Security/obj/Debug/net8.0/refint/Com.Gosol.Security.dll
/API/Com.Gosol.Ultilities/bin/Debug/net8.0/Com.Gosol.Ultilities.dll
/API/Com.Gosol.Ultilities/bin/Debug/net8.0/Com.Gosol.Ultilities.pdb
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.AssemblyInfoInputs.cache
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.csproj.FileListAbsolute.txt
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.dll
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.pdb
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.sourcelink.json
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/ref/Com.Gosol.Ultilities.dll
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/refint/Com.Gosol.Ultilities.dll
/API/GO.API/obj/Debug/net8.0/apphost.exe
/API/GO.API/obj/Debug/net8.0/GO.API.AssemblyInfoInputs.cache
/API/GO.API/obj/Debug/net8.0/GO.API.csproj.AssemblyReference.cache
/API/GO.API/obj/Debug/net8.0/GO.API.csproj.FileListAbsolute.txt
/API/GO.API/obj/Debug/net8.0/GO.API.dll
/API/GO.API/obj/Debug/net8.0/GO.API.pdb
/API/GO.API/obj/Debug/net8.0/GO.API.sourcelink.json
/API/GO.API/obj/Debug/net8.0/refint/GO.API.dll
