/* Custom styles */
#myWindow {
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #myContent {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  #myContent img {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    align-self: center;
    flex-shrink: 0;
  }
  
  #myContent div {
    position: absolute;
    font-size: 80px;
    background: lightskyblue;
    border-radius: 50%;
    padding: 60px;
  }
  