USE [DB_Nx]
GO
/****** Object:  Table [dbo].[DM_Camera]    Script Date: 2/17/2025 10:28:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_Camera](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaCamera] [nvarchar](50) NULL,
	[TenCamera] [nvarchar](255) NULL,
	[ViTri] [nvarchar](255) NULL,
	[ViDo] [float] NULL,
	[KinhDo] [float] NULL,
	[DiaChiIP] [nvarchar](50) NULL,
	[DiaChiMAC] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaCamera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_Camera_ThungRac]    Script Date: 2/17/2025 10:28:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_Camera_ThungRac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CameraID] [int] NOT NULL,
	[ThungRacID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CameraID] ASC,
	[ThungRacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_ThungRac]    Script Date: 2/17/2025 10:28:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_ThungRac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaThungRac] [nvarchar](50) NULL,
	[TenThungRac] [nvarchar](255) NULL,
	[ViTri] [nvarchar](255) NULL,
	[ViDo] [float] NULL,
	[KinhDo] [float] NULL,
	[SoLuongRacHienTai] [int] NULL,
	[SucChuaToiDa] [int] NULL,
	[TrangThaiDay] [bit] NULL,
	[LanThuGomGanNhat] [datetime] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaThungRac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV_LichSuThuGom]    Script Date: 2/17/2025 10:28:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV_LichSuThuGom](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaThuGom] [nvarchar](50) NULL,
	[ThungRacID] [int] NULL,
	[NguoiThuGom] [nvarchar](255) NULL,
	[ThoiGianThuGom] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaThuGom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV_SuKienVutRac]    Script Date: 2/17/2025 10:28:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV_SuKienVutRac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CameraID] [int] NULL,
	[ThungRacID] [int] NULL,
	[ThoiGianVut] [datetime] NULL,
 CONSTRAINT [PK__NV_SuKie__3214EC2708E3958E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DM_Camera] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DM_ThungRac] ADD  DEFAULT ((0)) FOR [SoLuongRacHienTai]
GO
ALTER TABLE [dbo].[DM_ThungRac] ADD  DEFAULT ((20)) FOR [SucChuaToiDa]
GO
ALTER TABLE [dbo].[DM_ThungRac] ADD  DEFAULT ((0)) FOR [TrangThaiDay]
GO
ALTER TABLE [dbo].[DM_ThungRac] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NV_LichSuThuGom] ADD  DEFAULT (getdate()) FOR [ThoiGianThuGom]
GO
ALTER TABLE [dbo].[NV_SuKienVutRac] ADD  CONSTRAINT [DF__NV_SuKien__ThoiG__0115C24F]  DEFAULT (getdate()) FOR [ThoiGianVut]
GO
ALTER TABLE [dbo].[NV_LichSuThuGom]  WITH CHECK ADD FOREIGN KEY([ThungRacID])
REFERENCES [dbo].[DM_ThungRac] ([ID])
GO
ALTER TABLE [dbo].[NV_SuKienVutRac]  WITH CHECK ADD  CONSTRAINT [FK__NV_SuKien__Camer__0209E688] FOREIGN KEY([CameraID])
REFERENCES [dbo].[DM_Camera] ([ID])
GO
ALTER TABLE [dbo].[NV_SuKienVutRac] CHECK CONSTRAINT [FK__NV_SuKien__Camer__0209E688]
GO
ALTER TABLE [dbo].[NV_SuKienVutRac]  WITH CHECK ADD  CONSTRAINT [FK__NV_SuKien__Thung__02FE0AC1] FOREIGN KEY([ThungRacID])
REFERENCES [dbo].[DM_ThungRac] ([ID])
GO
ALTER TABLE [dbo].[NV_SuKienVutRac] CHECK CONSTRAINT [FK__NV_SuKien__Thung__02FE0AC1]
GO
